# =========================

# Server Configuration

# =========================

PORT=8080
NODE_ENV=development
APP_ENV=local


# =========================

# Logging Configuration

# =========================

LOG_LEVEL=debug

# Available levels:

# fatal | error | warn | info | debug | trace

# =========================

# New Relic Configuration

# =========================

NEW_RELIC_APP_NAME=nestjs-starter-app
NEW_RELIC_LICENSE_KEY=YOUR_NEW_RELIC_LICENSE_KEY

# =========================

# Security Configuration

# =========================

CORS_ORIGINS=http://localhost:3000
CSRF_ENABLED=true
CSRF_SECRET=MY_CSRF_SECRET_KEY