allow-scripts=@datadog/pprof,@newrelic/fn-inspect,@newrelic/native-metrics,@prisma/engines,@scarf/scarf,argon2,esbuild,msgpackr-extract,prisma,protobufjs,unrs-resolver@types/react@19.2.17 from lock file
